.collections_section {
  background-color: #f5f5f5;
  .images_weapper {
    overflow: hidden;
    position: relative;
    .card_title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      user-select: none;
      pointer-events: none;
      color: #fff;
      font-weight: 800;
      font-size: 32px;
      text-shadow: 1px 1px 4px #000;
      text-align: center;
    }
    img {
      transition: all linear 0.4s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}
